html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

.logo {
  max-width: 14rem;
  z-index: 1;
  grid-row: 2;
  display: flex;
  margin: 2rem;
  grid-column: 1;
}

img {
  width: 100%;
  display: grid;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  grid-template-rows: 1fr 10rem;
}

body {
  display: grid;
  gap: 1rem;
  background-color: #f2f1ed;
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  margin-top: 0;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

figure {
  margin: 0;
}

figure:nth-child(1) {
  margin-right: .5rem;
}

figure:nth-child(2) {
  margin-left: .5rem;
}

.pano {
  display: grid;
  grid-column: 1/ -1;
  grid-row: 1 / 4;
  padding: 1rem;
  padding-bottom: 0;
}

a {
  color: #fff;
}

nav {
  grid-column: 3;
  grid-row: 1;
  margin-top: 1rem;
  display: grid;
}

ul {
  display: grid;
  grid-template-areas: "1 2 3";
}

ul:nth-child(1) {
  grid-area: 1;
}

ul:nth-child(2) {
  grid-area: 2;
}

ul:nth-child(3) {
  grid-area: 3;
}
