html {
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: grid;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

header {
  display: grid;
  grid-template-columns: 25% 1fr 15% 15% 15%;
  grid-template-rows: 4rem 1fr 7rem;
}

header img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

h1 {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
}

.logo {
  width: 14rem;
}
